body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}
.image{
    padding: 50px;
    border: 3px solid;
    border-radius: 10px;
    border-color: #3882f6;
    margin-left: 20px;
    margin-right: 20px;

}
.images{
    display: flex;
}
.text{
    margin-right: 20px;
    margin-left: 20px;
    width: 106px;
    height: 106px;
}
.subtext{
    display: flex;
    text-align: center;
    margin-left:125px;
    margin-right: 125px;
}
.ad{
    background-color: #3882f6;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    margin-left: 75px;
    margin-top: 50px;
    margin-right: 75px;
    color: white;
    margin-bottom: 50px;
    border-radius: 10px;
}
.last-button{
    border-color: white;
}
button{
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    flex-shrink: 0;
    flex-grow: 0;
    max-height: 25px;
    max-width: 65px;
}
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
}
.header{
    
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
}
.header-text{
    display: flex;
    flex-direction: column;
    color: white;
}
.top-text{
    display: flex;
}
.filler{
    background-color: #e5e7eb;
    margin: 30px;
    padding: 75px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.top{
    background-color: #1f2937;
    padding-left: 100px;
}
.top-links{
    display: flex;
    color: #e5e7eb;
    gap: 16px;
    font-size: 16px;
    margin-left: auto;
    margin-right: 100px;
}
ul{
    list-style: none;
}
.quote{
    background-color: #e5e7eb;
    padding: 40px;
    font-style: italic;
    padding-left: 200px;
    padding-right: 200px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: auto;
    padding: 20px;
}